<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js basic</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <div class="table-Container">
        <div class="title">List Users</div>

        <table border="1">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            <% users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.firstName %>
                    </td>
                    <td>
                        <%= user.lastName %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.address %>
                    </td>
                    <td class="action-group">
                        <a href="/detail/user/<%= user.id %>" target="_blank">Detail</a>
                        <a href="/edit/user/<%= user.id %>" target="_blank">Edit</a>
                        <button type="button">Delete</button>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>
</body>

</html>